.article-markdown-container{
    width: 100%;
}
.article-markdown-container pre{
    padding: 10px;
    background-color: rgba(200,200,200,0.2);
    border-radius: 10px;
}

.article-markdown-container pre .hljs{
    background-color: transparent;
}

.article-markdown-container p img{
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0,28,68,0.3);
    transition: all 0.5s;
    border: #DDDDDD 1px solid;
    width: 100%;
}

.article-markdown-container p img:hover{
    box-shadow: 0 12px 12px rgba(0,28,68,0.3);
}

.article-markdown-container p code{
    background-color: rgba(200,200,200,0.2);
    padding: 4px;
    border-radius: 4px;
}

.article-markdown-container table tr td, table tr th, table{
    border: black 1px solid;
}

.article-markdown-container table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}