@import "/ui_components/css_include.css";
#article-index-wrapper {
    display: flex;
    width: 100%;
    margin: 0 0 var(--article-grid-border-width) 0;
    border-top: solid 1px #AAAAAA;
    border-bottom: solid 1px #AAAAAA;

    transition: all cubic-bezier(.8, .0, .0, 1.0) .25s;
}

#article-index-wrapper button {
    margin: 0;

    width: 40px;
    height: 40px;

    background-color: white;

    border: none;
    cursor: pointer;

    transition: all cubic-bezier(0.0, 0.8, 0.0, 1.0) .8s;
}

#article-index-wrapper button:hover {
    background-color: #CCCCCC;
}

#article-index_panel-content > .clicked {
    border-bottom: 5px solid var(--accent-color) !important;
}