@import "/framework/css_include.css";
#article-index-wrapper {
    display: flex;
    width: 100%;
    margin: 0 0 var(--article-grid-border-width) 0;
    border-top: solid 1px #AAAAAA;
    background-color:  rgb(244,244,244);

    transition: all cubic-bezier(.8, .0, .0, 1.0) .25s;
}

#article-index-wrapper button {
    margin: 0;

    width: 40px;
    height: 40px;

    background-color:  rgb(244,244,244);

    border: none;
    cursor: pointer;
    position: relative;

    transition: all cubic-bezier(0.0, 0.8, 0.0, 1.0) .8s;
}

#article-index-wrapper button:hover {
    background-color: #CCCCCC;
}

#article-index-content {
    height: 40px;
    width: calc(100% - 80px);

    white-space: nowrap;
    overflow-x: scroll;
}

#article-index-content::-webkit-scrollbar{
    display: none;
}

#article-index-content > .clicked:before {
    content: " ";
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;

    background-color: var(--accent-color);
}